@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .leftFlex {
    display: flex;
    align-items: center;
    p {
      font-weight: 400;
      @include font16;
      color: #2d2d32;
      margin-left: 14px;
    }
    select {
      margin: 0px 6px;
      height: 29px;
      padding: 0px 7px;
      font-size: 12px;
      background-size: 10px !important;
      background-position: 90% 50% !important;
    }
  }

  .rightFlex {
    display: flex;
    align-items: center;
    p {
      font-weight: 400;
      @include font16;
      color: #2d2d32;
      margin-left: 10px;
    }

    img {
      margin-left: 10px;
      height: calc(6px + (12 - 6) * (100vw - 280px) / (2560 - 280));
      width: calc(6px + (12 - 6) * (100vw - 280px) / (2560 - 280));
      cursor: pointer;
      @media (max-width: 840px) {
        margin-left: 6px;
      }
    }

    .p {
      @include font16;

      @media (max-width: $xs) {
        display: none;
      }
    }
    b {
      @include font16;
    }
  }
}
