@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.gridView {
  @include gridTwo(22, 22);
}

.modelContainer {
  padding-top: 35px !important;
}

.textAreaGrid {
  grid-column: 1 / -1;
}

.fileUpload {
  margin-top: 0 !important;
}

.classNameLabel {
  display: inline-block;
  margin-bottom: 12px;
}

.btnClass {
  margin-top: 24px;
  margin-bottom: -24px;
}

.customHeader {
  padding: 0px 47px 20px 47px !important;
}
