@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.gridView {
  @include gridTwo(22, 22);
  // margin-bottom: 20px;
}

.modelContainer {
  // padding: 0px !important;
  padding-top: 35px !important;
}

.textAreaGrid {
  grid-column: 1 / -1;
}

.fileUpload {
  margin-top: 0 !important;
}

.classNameLabel {
  display: inline-block;
  margin-bottom: 12px;
}
