@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

nav {
  background: #fff;
  display: flex;
  background-color: #fafafa;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding-bottom: calc(12px + (30 - 12) * (100vw - 280px) / (2560 - 280));
  padding-top: calc(12px + (30 - 12) * (100vw - 280px) / (2560 - 280));
  @media (max-width: $tab) {
    background: #57b894;
    height: 51px;
    margin-bottom: calc(12px + (30 - 12) * (100vw - 280px) / (2560 - 280));
  }

  .hamburger {
    display: none;
    cursor: pointer;
    @media (max-width: $tab) {
      display: block;
      margin-left: 15px;
      width: 20px;
      transition: all 0.3s;
      height: 14px;
    }
    @media (max-width: $xxs) {
      display: block;
      margin-left: 10px;
      width: 15px;
      height: 13px;
    }
  }

  h1 {
    color: #2d2d32;
    @include font36;
    line-height: 0;
    margin-left: 10px;
    @media (max-width: $tab) {
      margin-left: 10px;
      color: white;
    }
  }

  .rightDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 400px;

    .imgDiv {
      display: none;
      @media (max-width: $xxs) {
        display: block;
        margin-right: 5px;
        width: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
        height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
      }
    }
    @media (max-width: $md) {
      max-width: 300px;
    }

    .searchDiv {
      width: 100%;
      @media (max-width: $xxs) {
        display: none;
      }

      input {
        @include font18;
        color: $subtile;
        width: 100%;
        height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
        margin-top: 0px;
        border: none;
        @media (max-width: $md) {
          background: #ffffff;
          color: $subtile;
          &::placeholder {
            color: $subtile;
            @include font18;
          }
        }
      }
    }

    .img {
      width: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
      height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
      margin-left: 15px;
      @media (max-width: $tab) {
        margin-right: 15px;
        margin-left: 5px;
      }
      @media (max-width: $xxs) {
        margin-right: 10px;
      }
    }
  }
}
