@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15px;
  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #6e6d6d;
  }
  input {
    border-radius: 3px;
    padding: 10px 8px;
    width: 100%;
    margin-top: calc(5px + 7 * (100vw - 280px) / 2280);
    height: calc(30px + 25 * (100vw - 280px) / 2280);
    background-color: #ffffff;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #d6d9d9;
      font-size: 14px;
      font-weight: normal;
      line-height: 21px;
      text-transform: capitalize;
      @media (max-width: $md) {
        color: #8b8b8b;
        font-size: 14px;
        font-family: Roboto;
      }
    }
  }
  .icon {
    position: absolute;
    right: 11px;
    top: 14px;
  }
  .errorMessage {
    color: $danger;
    font-size: 12px;
    position: absolute;
    bottom: -17px;
  }
}

input[type='time'] {
  color: transparent;
  display: block;

  &:invalid {
    &::before {
      color: #d6d9d9;
      content: attr(placeholder);
      background-color: rgb(255, 255, 255);
      width: 100px;
      padding-top: 10px;
      padding-bottom: 10px;
      pointer-events: none;
      position: absolute;
    }
  }
}
input[type='time']:valid,
input[type='time']:focus {
  color: #000;
}
input[type='time']:valid::before,
input[type='time']:focus::before {
  display: none;
}

input[type='password'] {
  &::placeholder {
    position: relative;
    top: 4px;
  }
}
