@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.searchSelect {
  position: relative;

  .field {
    img {
      width: 15px;
      height: 15px;
      transform: rotate(90deg);
    }
  }

  .searchDropdown {
    margin-top: 10px;
    background: #ffffff;
    border: 1.2px solid #e3e3e3;
    z-index: 900;
    border-radius: 3.81414px;
    position: absolute;
    width: 100%;

    .innerDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover {
        background-color: $btn;
        color: white;
        p {
          color: #ffffff;
          text-transform: capitalize;
        }
      }

      p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        padding: 10px 30px;
        letter-spacing: 0.147355px;
        color: #171725;
        text-transform: capitalize;
        width: 100%;
        cursor: pointer;
        @include font24;
      }

      .icon {
        display: flex;
        align-items: center;
        border: 1px solid red;
      }
    }
  }
}
