@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.wraper {
  display: flex;
  align-items: flex-end;
}
.buttonStyle {
  width: 50px;
  display: flex;
  justify-content: center;
}
.errorMessage {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  @include font14;
}
