@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.checkBox {
  background-color: white !important;
  height: 50px;
}
.checkBoxContainer {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wraper {
  margin-top: 30px;
}

.errorMessage {
  color: #ff5050;
  @include font14;
}
