.checkBox {
  background-color: white !important;
  height: 50px;
}
.checkBoxContainer {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wraper {
  margin-top: 30px;
}
