@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 6px !important;

  .errorMessage {
    position: absolute;
    bottom: -21px;
    display: block;
    margin-left: 5px;
    color: #ff5050;
    @include font14;
  }
}
