@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.wraper {
  width: 100%;
  display: flex;
  align-items: center;
  height: 43px;
  margin-top: 7px;
  border-radius: 6px;
  input {
    padding: 10px;
    border: none;
    border-radius: 9px;
    width: 50px;
  }

  .centerDiv {
    margin: 0px 10px;
  }
}

.selectContainer {
  margin-top: 0px;
  margin-right: 50px;
}

.error {
  display: block;
  margin-left: 5px;
  color: #ff5050;
  @include font14;
}

label {
  @include font24;
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
}
