@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
  padding-top: calc(5px + (15 - 5) * (100vw - 280px) / (2560 - 280));
  padding-bottom: calc(5px + (15 - 5) * (100vw - 280px) / (2560 - 280));
  padding-left: calc(11px + (40 - 11) * (100vw - 280px) / (2560 - 280));
  padding-right: calc(11px + (40 - 11) * (100vw - 280px) / (2560 - 280));
  background-color: $btn;
  border-radius: calc(2px + (6 - 2) * (100vw - 280px) / (2560 - 280));
  cursor: pointer;
  border: none;
  box-shadow: none;
  &:hover {
    background-color: $btn;
  }

  .img {
    margin-left: calc(6px + (19 - 6) * (100vw - 280px) / (2560 - 280));
    width: calc(9px + (24 - 9) * (100vw - 280px) / (2560 - 280));
    height: calc(8px + (20 - 8) * (100vw - 280px) / (2560 - 280));
  }

  .img1 {
    margin-right: calc(6px + (19 - 6) * (100vw - 280px) / (2560 - 280));

    width: calc(9px + (24 - 9) * (100vw - 280px) / (2560 - 280));
    height: calc(8px + (20 - 8) * (100vw - 280px) / (2560 - 280));
  }

  .btnTitle {
    color: white;
    @include font29;
    font-family: 'Poppins';
  }
}
.btn2 {
  cursor: pointer;
  width: 56px;
  height: 56px;
  background: #57b993;
  border: none;
  outline: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12), 0px 6px 6px rgba(0, 0, 0, 0.24);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  z-index: 1;
  bottom: 50px;
  @media (max-width: $md) {
    display: flex;
  }
}
