@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.main {
  position: relative;
  .img {
    border: 1px solid transparent;
    width: 178px;
    height: 178px;
    border-radius: 50%;

    p {
      text-align: center;
      font-size: 13px;
      color: $primary;
      margin-top: 20px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .icon {
    position: absolute;
    bottom: 4px;
    left: 138px;
    cursor: pointer;
  }
}
