@use 'styles/_colors.scss' as c;
@import 'styles/_breakpoints.scss';
@import 'styles/_mixin.scss';

.wrapper {
}
.timelineWrapper {
  margin-left: 1.5rem;
  border-left: 0.981761px solid #e2e2ea;
  padding-bottom: 100px;
  @media (max-width: 1700px) {
    padding-bottom: 90px;
  }
  @media (max-width: 1000px) {
    padding-bottom: 80px;
  }
}
.timelineWrapper:nth-last-child(1) {
  border-left: 0 !important;
  padding-bottom: 10px;
  height: 20px;
}
.node {
  padding-left: 0.5rem;
  position: relative;
}
.node span {
  margin-left: 9px;
  top: -7px;
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  @include font18;
  line-height: 18px;
  color: #2d2d32;
}

.node p {
  font-family: 'Poppins';
  position: relative;
  top: -7px;
  margin-left: 10px;
  font-style: normal;
  @include font16;
  line-height: 16px;
  color: #696974;
  display: flex;
  align-items: center;
  img {
    margin-right: 4.57px;
  }
}
.node::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background: #ffffff;
  border: 1.5px solid #57b894;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -6px;
}
