.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 1.19506px solid #e2e2ea;
  border-radius: 7.93819px;
  cursor: pointer;

  .switchHeader {
    display: flex;
    align-items: center;
  }
}

.body {
  padding: 10px;
  background: #ffffff;
  cursor: pointer;
  .bodySwitch {
    display: flex;
    justify-content: space-between;
  }
}

.switchContainer {
  margin-left: 10px;
}
