@use 'styles/_colors.scss' as c;
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 1.19506px solid #e2e2ea;
  border-radius: 7.93819px;
  cursor: pointer;

  .switchHeader {
    display: flex;
    align-items: center;
    span {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      /* identical to box height */

      /* heading */

      color: #2d2d32 !important;
    }
  }
}

.body {
  padding: 10px;
  background: #ffffff;
  cursor: pointer;
  .bodySwitch {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    span {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #2d2d32 !important;
    }
  }
}

.switchContainer {
  margin-left: 10px;
}

.tableHeaderClass {
  background-color: #fff !important;
  border: 0px !important;
  border-bottom: 1px solid #f2f4f3 !important;
  border-radius: 0px !important;
}

.btnDiv {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.card {
  padding: 0px !important;
  margin-top: 10px;
}

.modalContainer {
  @include gridTwo(20, 20);

  .containerClass {
    margin-top: 5px !important;
  }
}

.fiveGrid {
  @include gridFive(20, 20);
}
.btnClass {
  background-color: #b6e593;
  width: max-content;
  margin-right: 5px;
  width: max-content;
  &:hover {
    background-color: #b6e593 !important;
  }
}

.btnText {
  color: #4f8c22 !important;
}

.btnClassRed {
  background-color: #facccc;
  width: max-content;

  margin-right: 5px;
  width: max-content;
  &:hover {
    background-color: #facccc !important;
  }
}

.btnTextRed {
  color: #e92424 !important;
}

.btnClassPruple {
  background-color: #e2e2ea;
  width: max-content !important;

  margin-right: 5px;
  width: max-content;
  &:hover {
    background-color: #e2e2ea !important;
  }
}

.btnTextpurple {
  color: #8989a9 !important;
}

///////////// tool tip /////////////////
///
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #fff;
  color: black;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  top: 99%;
  left: -163px;
  margin-left: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: #333333;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.headingText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 22px;
  color: #2d2d32;
}

.rowText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 22px;
  /* identical to box height, or 172% */

  /* heading */

  color: #2d2d32;
}
