@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.tags {
  display: flex;
  flex-wrap: wrap;

  .tagsText {
    background: #facccc;
    border-radius: 51.9079px 51.9031px 51.9031px 51.9079px;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin: 0px 5px;
    p {
      @include font14;
      color: #e92424;
      text-transform: capitalize;
    }
  }
}
