@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.card {
  margin-top: 10px;
  max-height: calc(100vh - 115px);
  height: 90vh !important;
  overflow-y: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  @media (max-width: $lg) {
    max-height: calc(100vh - 100px);
  }
  @media (max-width: $md) {
    max-height: calc(100vh - 85px);
  }
  @media (max-width: $tab) {
    margin: 0px 10px;
    max-height: calc(100vh - 80px);
  }
  @media (max-width: $xs) {
    max-height: calc(100vh - 76px);
  }

  .activeClass {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #2d2d32 !important;
  }
  p {
    padding: 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #cacaca;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-left: calc(15px + (45 - 15) * (100vw - 280px) / (2560 - 280));
  padding-right: calc(15px + (45 - 15) * (100vw - 280px) / (2560 - 280));
  border-bottom: 0.55939px solid #e2e2ea;

  position: fixed;
  z-index: 2;
  background-color: #fff;
  width: 83%;

  @media (max-width: $sm) {
    width: 94%;
    padding: 4px !important;
    border-radius: 6px;
  }

  h6 {
    @include font32;
    @media (max-width: 600px) {
      margin-left: 14px;
    }
  }

  img {
    width: 13px;
    height: 13px;
    cursor: pointer;
  }
  .navBar {
    display: flex;
    justify-content: space-between;

    p {
      margin-right: 30px;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      cursor: pointer;
      @media (max-width: $sm) {
        margin-right: 10px;
        font-size: 10px !important;
        margin-right: 0px;
      }
    }
  }
}

.addBtn {
  @media (max-width: $lg) {
    position: fixed;
    z-index: 3;
    bottom: 30px;
    right: 20px;
  }

  .btnClass {
    width: max-content;
  }
}
