@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.position {
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  padding: 5px 0px;
  margin-top: 10px;
}
.imgDiv {
  img {
    cursor: pointer;
    height: calc(20px + (37 - 20) * (100vw - 280px) / (2560 - 280));
    width: calc(25px + (44 - 25) * (100vw - 280px) / (2560 - 280));
    margin: 0px 5px;
  }
}
