@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 6px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 2px;
  top: 3px;
  background-color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

input:checked + .slider {
  background-color: #57b894;
  transition: all 0.4s;
}

input:focus + .slider {
  box-shadow: none;
  transition: all 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  left: 6px;
  transition: all 0.4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.titleClass {
  @include font24;
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
  margin-bottom: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
}

.mainClass {
  display: flex;
  align-items: center;
  h6 {
    font-weight: 400;
    @include font18;
    color: #2d2d32;
    margin-left: 7px;
  }
}

.errorMessage {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  @include font14;
}
