@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';
.wraper {
  margin: 10px 0px;
  padding: 10px;
  @include gridSix(10, 10);
  align-items: flex-end;
  .imgParentDiv {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $btn;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  .cancelBtn {
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid $btn !important;
  }
  .btnText {
    color: $btn !important;
  }
}

.customLabel {
  label {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 21px;
    color: #2d2d32 !important;
  }
  div {
    margin: 17px 0px;
  }
}
