@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';
.wraper {
  margin: 10px 0px;
  padding: 10px;
  @include gridSix(10, 10);
  align-items: flex-end;
  .imgParentDiv {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $btn;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  .cancelBtn {
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid $btn !important;
  }
  .btnText {
    color: $btn !important;
  }
}
