@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';
.wraper {
  margin: 10px 0px;
  padding: 10px;
  @include gridFive(10, 10);
  align-items: flex-end;

  @media (max-width: $lg) {
    @include gridTwo(10, 10);
  }
}
.imgParentDiv {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #9ed6c1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  .cancelBtn {
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid $btn !important;
  }
  .btnText {
    color: $btn !important;
  }
}

.customLabel {
  label {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 21px;
    color: #2d2d32 !important;
  }
  div {
    margin: 20px 0px 20px 0px;

    @media (max-width: $xlg) {
      margin: 15px 0px 20px 0px;
    }
    @media (max-width: $lg) {
      margin: 13px 0px 20px 0px;
    }
    @media (max-width: $md) {
      margin: 8px 0px 15px 0px;
    }
  }
}

.addParent {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  @media (max-width: $lg) {
    flex-wrap: wrap;
    justify-content: center;
  }
}


.loaderDiv {
  position: absolute;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: #fafafa;
  z-index: 200;

  .loadingStyle {
    width: 40px;
    height: 40px;
    border-width: 3px;
    border-color: #57b993;
    border-top-color: transparent;
  }
}
