@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.applicationCard {
  border: 1px solid yellow;
  width: 345px;
  height: 352.37px;
  background: linear-gradient(0deg, #ffffff, #ffffff), #d9d9d9;
  border-radius: 10.3205px;
  border: 1.47436px solid #e2e2ea;
}

.dashBorder {
  margin-top: 12px;
  border-bottom: 1.47436px dashed #e2e2ea;
  position: relative;
  .left {
    position: absolute;
    width: 16.22px;
    height: 16.22px;
    border-radius: 50%;
    border: 1.47436px solid #e2e2ea;
    top: -8.11px;
    left: -10.11px;
    background-color: white;
    border-top-color: transparent;
    border-left-color: transparent;
    rotate: -45deg;
  }
  .right {
    position: absolute;
    width: 16.22px;
    height: 16.22px;
    border-radius: 50%;
    border: 1.47436px solid #e2e2ea;
    top: -8.11px;
    right: -9.11px;
    background-color: white;
    border-top-color: transparent;
    border-left-color: transparent;
    rotate: -226deg;
  }
}

.headBorder {
  border-bottom: 1px solid black;
}
