.fc-theme-standard td,
.fc-theme-standard th {
  //   border: none !important;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: 1px !important;
  border-top-left-radius: none !important;
  border-bottom-left-radius: none !important;
}
.fc .fc-button-primary {
  background-color: #ffffff;
  color: #717579;
  border-color: 1px solid #e9e9ef;
}
.fc-day-today {
  background-color: #ffffff !important;
}
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: #ffffff;
  background-color: #57b894;
}

tr:nth-child(even) {
  background-color: #ffffff;
  border-bottom: 1px solid #717579;
}
.fc table {
  table-layout: auto;
}
// .fc-view > table {
//   min-width: 0;
//   width: auto;
// }
// .fc-day,
// .fc-resource-cell,
// .fc-content-col {
//   //   min-width: 300px;
//   width: 300px;
// }
.fc-timegrid-event .fc-event-main {
  padding: 0px;
}
.fc .fc-timegrid-slot-minor {
  border-top-style: none;
}
.fc .fc-timegrid-slot {
  height: 50px;
}
tr:nth-child(even) {
  border: 1px dotted #696974;
}
td,
th {
  border: none;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}
