@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.select {
  background-color: #ffffff !important;
  border-radius: 3px;
  width: 100%;
  padding: 0px 12px 0px 20px;
  box-sizing: border-box !important;
  color: #2d2d32;
  @include font20;
  box-shadow: none;
  height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
  margin-top: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
  appearance: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../../assets/select-arrow.svg') !important;
  background-position: 98% 50% !important;
  background-repeat: no-repeat !important;
  background-size: 15px !important;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #cacaca;
    text-transform: capitalize;
    @include font18;
  }

  option {
    text-transform: capitalize;
    @include font18;
    color: #2d2d32;
  }
}

.label {
  @include font24;
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
}

.errorMessage {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  @include font14;
}

select option:checked {
  background: #57b894 -webkit-linear-gradient(bottom, #57b894 0%, #57b894 100%);
  color: #ffffff;
}

.inputClass {
  border: none !important;

  input {
    width: 100%;
    border: none !important;
  }
}

.disabledSelection {
  background-color: #ddd;
  margin-top: 10px;
  border-radius: 8px;
}
.groupHeading {
  margin-left: 10px;
  cursor: pointer;
}

.flexClass {
  display: flex;
  align-items: center;
}

.labelClass1 {
  color: #2d2d32;
  @include font20;
  border-left: 1px solid #e2e2ea;
  padding-left: 10px;

  .label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
  }
}
.inputClass {
  border: none !important;
  input {
    border: none !important;
    width: 100%;
  }
}
