@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.layoutWrapper {
  header {
    height: calc(100vh - 14px);
    position: fixed;
    margin: 7px 7px 0 7px;
    background: #555555;
    border-radius: 12px;
    z-index: 1000;
    top: 0;
    &::-webkit-scrollbar {
      background: transparent;
      width: 0px;
    }
    @media (max-width: $tab) {
      left: -100%;
    }

    .backdropDiv {
      position: fixed;
      z-index: 1000;
      inset: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
  }

  main {
    margin-right: 7px;
    transition: all 0.3s;
    position: relative;
    @media (max-width: $tab) {
      margin-right: 0px;
    }
  }
  .navbarDiv {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}

.mainSection {
  margin-left: 115px;

  @media (max-width: $tab) {
    margin-left: 0px;
  }
}

.sectionMargin {
  margin-left: 418px;
  @media (max-width: $xl) {
    margin-left: 315px;
  }
  @media (max-width: $lg) {
    margin-left: 300px;
  }
  @media (max-width: $md) {
    margin-left: 220px;
  }
  @media (max-width: $tab) {
    margin-left: 0px;
  }
}
