.card {
  border: none !important;
  padding: 15px 15px 30px 15px !important ;
  margin-top: 60px;
  margin-left: 1px;
  margin-right: 5px;
  border-radius: 8px;
}

.titleClass {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 22px;
  color: #2d2d32;
}
