.card {
  border: none !important;
  padding: 15px 15px 30px 15px !important ;
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 8px;
}
.titleClass {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 22px;
  /* identical to box height, or 149% */

  /* heading */

  color: #2d2d32;
}
