@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
.card {
  border: none !important;
  padding: 15px 15px 30px 15px !important ;
  margin-left: 1px;
  margin-right: 5px;
  border-radius: 8px;
}

.titleClass {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 22px;
  color: #2d2d32;

  @media (max-width: $md) {
    font-weight: 400 !important;
    font-size: 12px !important;
  }
}
