@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.wraper {
  cursor: pointer !important;
  display: flex;
  position: relative;
  background: #ffffff;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding-left: calc(10px + (25 - 10) * (100vw - 280px) / (2560 - 280));
  padding-right: calc(10px + (25 - 10) * (100vw - 280px) / (2560 - 280));
  color: #2d2d32;
  margin-top: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
  height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
  @include font20;

  .labelTag {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    cursor: pointer;
    text-transform: capitalize;
    width: 100%;
    color: #2d2d32;
    @include font20;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #cacaca;
      text-transform: capitalize;
      @include font20;
    }
  }

  .fileIcon {
    position: absolute;
    right: 15px;
    top: 28%;
    width: calc(10px + (22 - 10) * (100vw - 280px) / (2560 - 280));
    height: calc(10px + (22 - 10) * (100vw - 280px) / (2560 - 280));
    cursor: pointer;
  }

  .errorMessage {
    position: absolute;
    display: block;
    margin-left: 5px;
    color: #ff5050 !important;
    @include font14;
  }
}
.label {
  @include font24;
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
}
