@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.sidebarWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
  width: 403px;
  position: relative;
  z-index: 200000;
  @media (max-width: $xl) {
    width: 300px;
  }
  @media (max-width: $lg) {
    width: 285px;
  }
  @media (max-width: $md) {
    width: 205px;
  }

  .sidebarHeader {
    padding-top: calc(6px + (10 - 6) * (100vw - 280px) / (2560 - 280));
    padding-bottom: calc(6px + (10 - 6) * (100vw - 280px) / (2560 - 280));
    padding-left: calc(12px + (20 - 12) * (100vw - 280px) / (2560 - 280));
    padding-right: calc(12px + (20 - 12) * (100vw - 280px) / (2560 - 280));

    .arrowDiv {
      position: absolute;
      right: 0;
      top: 15px;

      img {
        width: calc(14px + (28 - 14) * (100vw - 280px) / (2560 - 280));
        height: calc(52px + (24 - 26) * (100vw - 280px) / (2560 - 280));
        cursor: pointer;
      }
      @media (max-width: $tab) {
        display: none;
      }
    }

    .logoImgDiv {
      text-align: center;
      border-bottom: 1.5px solid #616161;

      .smallImg {
        width: calc(100px + (250 - 100) * (100vw - 280px) / (2560 - 280));
        height: calc(40px + (100 - 40) * (100vw - 280px) / (2560 - 280));
      }
    }
  }

  .listWrapperDiv {
    margin-top: calc(10px + (50 - 10) * (100vw - 280px) / (2560 - 280));

    .ul1 {
      margin-bottom: 0px;

      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: calc(5px + (25 - 5) * (100vw - 280px) / (2560 - 280));
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: calc(12px + (40 - 12) * (100vw - 280px) / (2560 - 280));

        .img {
          width: calc(10px + (25 - 10) * (100vw - 280px) / (2560 - 280));
          height: calc(10px + (25 - 10) * (100vw - 280px) / (2560 - 280));
        }

        p {
          @include font20;
          color: #ffffff;
          margin-left: calc(13px + (30 - 13) * (100vw - 280px) / (2560 - 280));
          position: relative;
          top: 1px;
          margin-top: 0px;
        }
      }
    }
  }

  .logoutDiv {
    margin-top: 10px;
    padding-top: calc(6px + (12 - 6) * (100vw - 280px) / (2560 - 280));
    padding-bottom: calc(6px + (12 - 6) * (100vw - 280px) / (2560 - 280));

    div {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-top: 0px;
      padding-right: 10px;
      padding-bottom: 0px;
      padding-left: calc(12px + (40 - 12) * (100vw - 280px) / (2560 - 280));

      .img {
        width: calc(10px + (25 - 10) * (100vw - 280px) / (2560 - 280));
        height: calc(10px + (25 - 10) * (100vw - 280px) / (2560 - 280));
      }

      p {
        @include font20;
        color: #ffffff;
        margin-left: calc(13px + (30 - 13) * (100vw - 280px) / (2560 - 280));
        position: relative;
        top: 1px;
        margin-top: 0px;
      }
    }
  }
}

// close sidebar

.wrapperSmall {
  width: 122px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;

  .sidebarSmall {
    padding-left: calc(12px + (30 - 12) * (100vw - 280px) / (2560 - 280));
    padding-right: calc(12px + (30 - 12) * (100vw - 280px) / (2560 - 280));
    padding-top: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    padding-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));

    .arrowCloseDiv {
      position: absolute;
      right: 0;
      top: 10px;

      img {
        cursor: pointer;
        width: calc(14px + (28 - 14) * (100vw - 280px) / (2560 - 280));
        height: calc(52px + (24 - 26) * (100vw - 280px) / (2560 - 280));
      }
      @media (max-width: $tab) {
        display: none;
      }
    }
    .logoImgDiv {
      text-align: center;

      .webImage {
        width: calc(30px + (48 - 30) * (100vw - 280px) / (2560 - 280));
        height: calc(30px + (48 - 30) * (100vw - 280px) / (2560 - 280));
      }
    }
  }

  .iconsClass {
    width: calc(10px + (35 - 10) * (100vw - 280px) / (2560 - 280));
    height: calc(10px + (35 - 10) * (100vw - 280px) / (2560 - 280));
    cursor: pointer;
  }

  .smallLogoutDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    .iconsClass1 {
      cursor: pointer;
      width: calc(10px + (35 - 10) * (100vw - 280px) / (2560 - 280)) !important;
      height: calc(10px + (35 - 10) * (100vw - 280px) / (2560 - 280)) !important;
      margin-top: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
      margin-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    }
  }

  .heightDiv {
    margin-top: 15px;
    padding: 0px 41px;
  }
}

.linkClass {
  text-decoration: none;
}
