@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.gridView {
  @include gridTwo(22, 22);
}

.textAreaGrid {
  grid-column: 1 / -1;
}

.btnClass {
  margin-top: 24px;
}

.dottedBorder {
  height: 2px;
  background-image: linear-gradient(
    to right,
    #e2e2ea 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 13px 2px;
  background-repeat: repeat-x;
}
