@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.gridView {
  @include gridTwo(22, 22);
}

.modelContainer {
  padding-top: 35px !important;
}

.textAreaGrid {
  grid-column: 1 / -1;
}

.fileUpload {
  margin-top: 0 !important;
}

.classNameLabel {
  display: inline-block;
  margin-bottom: 12px;
}

.btnClass {
  margin-top: 24px;
  margin-bottom: -24px;
}

.customHeader {
  padding: 0px 47px 20px 47px !important;
}

.dottedBorder {
  margin: 24px -50px;
  height: 2px;
  // border: 1px dotted black;
  background-image: linear-gradient(
    to right,
    #e2e2ea 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 13px 2px;
  background-repeat: repeat-x;
}
