.loading_loader__IG2jp {
  width: 20px;
  height: 20px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid #fff;
  border-radius: 50%;
  animation: loading_spin__3uT8f 0.8s linear infinite;
  -webkit-animation: loading_spin__3uT8f 0.8s linear infinite;
}
@-webkit-keyframes loading_spin__3uT8f {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes loading_spin__3uT8f {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.app-loader_container__3oB-H {
  position: fixed;
  inset: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.app-loader_container__3oB-H .app-loader_loaderClass__3E3XC {
  width: 40px;
  height: 40px;
  border-width: 3px;
  border-left-color: #57b993;
  border-right-color: #57b993;
  border-bottom-color: #57b993;
  border-top-color: rgba(0, 0, 0, 0);
}
.loading_loader__34Q4m {
  width: 20px;
  height: 20px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid #fff;
  border-radius: 50%;
  animation: loading_spin__1Lvdg 0.8s linear infinite;
  -webkit-animation: loading_spin__1Lvdg 0.8s linear infinite;
}
@-webkit-keyframes loading_spin__1Lvdg {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes loading_spin__1Lvdg {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.button_btn__vJM9Q {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: calc(5px + 10 * (100vw - 280px) / 2280);
  padding-bottom: calc(5px + 10 * (100vw - 280px) / 2280);
  background-color: #57b894;
  border-radius: calc(2px + 4 * (100vw - 280px) / 2280);
  cursor: pointer;
  border: none;
  box-shadow: none;
}
.button_btn__vJM9Q:hover {
  background-color: #57b894;
}
.button_btn__vJM9Q .button_img__3T8AU {
  margin-left: calc(6px + 13 * (100vw - 280px) / 2280);
  width: calc(9px + 15 * (100vw - 280px) / 2280);
  height: calc(8px + 12 * (100vw - 280px) / 2280);
}
.button_btn__vJM9Q .button_img1__2COu5 {
  margin-right: calc(6px + 13 * (100vw - 280px) / 2280);
  width: calc(9px + 15 * (100vw - 280px) / 2280);
  height: calc(8px + 12 * (100vw - 280px) / 2280);
}
.button_btn__vJM9Q .button_btnTitle__1ulwj {
  color: #fff;
  font-weight: 400;
  font-size: calc(10px + 15 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
}
.card-container_mainContainer__24BQs {
  background: #fff;
  border: 1.19506px solid #e2e2ea;
  border-radius: 7.93819px;
  overflow-x: hidden;
  position: relative;
  padding-top: calc(12px + 13 * (100vw - 280px) / 2280);
  padding-bottom: calc(12px + 13 * (100vw - 280px) / 2280);
  padding-left: calc(15px + 30 * (100vw - 280px) / 2280);
  padding-right: calc(15px + 30 * (100vw - 280px) / 2280);
}
.card-container_mainContainer__24BQs::-webkit-scrollbar:vertical {
  display: none;
}
.checkbox_container__2oYAK {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.checkbox_container__2oYAK p {
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
  padding-left: 10px;
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
}
.checkbox_container__2oYAK input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox_checkMark__1Fh1Q {
  height: calc(12px + 8 * (100vw - 280px) / 2280);
  width: calc(12px + 8 * (100vw - 280px) / 2280);
  border: 1.2px solid #e2e2ea;
  border-radius: 1.44px;
}
.checkbox_container__2oYAK input:checked ~ .checkbox_checkMark__1Fh1Q {
  background-color: #fff;
  border: 1.2px solid #57b894;
}
.checkbox_checkMark__1Fh1Q:after {
  content: '';
  position: absolute;
  display: none;
}
.checkbox_container__2oYAK input:checked ~ .checkbox_checkMark__1Fh1Q:after {
  display: block;
}
.checkbox_container__2oYAK .checkbox_checkMark__1Fh1Q:after {
  width: 5px;
  height: 13px;
  border: solid #57b894;
  border-width: 0 1.3px 1.3px 0;
  -webkit-transform: translate(70%, -13%) rotate(45deg);
  transform: translate(70%, -13%) rotate(45deg);
}
.checkbox_stories_labelColor__20Mv3 {
  color: red !important;
}
.date_main__3n4wp {
  width: 100%;
  position: relative;
}
.date_main__3n4wp .date_label__1O_tM {
  font-weight: 500;
  font-size: calc(12px + 9 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
}
.date_main__3n4wp .date_borderClass__31swO {
  border: 1px solid #ff5050 !important;
  background: #fff;
  border-radius: 6px;
  width: 100%;
  padding-left: 20px;
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
  color: #2d2d32;
  margin-top: calc(5px + 7 * (100vw - 280px) / 2280);
  height: calc(30px + 25 * (100vw - 280px) / 2280);
}
.date_main__3n4wp .date_inpDiv__2c579 {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  border: 1px solid #d9d9d9;
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
  color: #2d2d32;
  margin-top: calc(5px + 7 * (100vw - 280px) / 2280);
  height: calc(30px + 25 * (100vw - 280px) / 2280);
}
.date_icon__2snNx {
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 56%;
}
.date_icon__2snNx img {
  height: calc(18px + 7 * (100vw - 280px) / 2280);
  width: calc(18px + 7 * (100vw - 280px) / 2280);
}
.date_errorMessage__1fZxO {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
}
.date_iconsDiv__1bdEb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.date_iconsDiv__1bdEb button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}
.date_iconsDiv__1bdEb button img {
  height: 30px;
  width: 30px;
}
.date_iconsDiv__1bdEb p {
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
}
.date_month__bMbmG {
  font-size: 14px !important;
  font-family: 'Poppins' !important;
  color: #2d2d32 !important;
}
.main .react-datepicker__day--keyboard-selected {
  border-radius: 5px !important;
}

.react-datepicker__day--outside-month {
  color: #afafaf !important;
  pointer-events: none !important;
}

.react-datepicker-popper {
  /* inset: 18px auto auto 35px !important; */
  /* padding: 10px !important; */
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  display: none !important;
}

.react-datepicker {
  background: #ffffff !important;
  border: 1px solid #e2e2ea !important;
  border-radius: 8px !important;
  /* margin-top: 30px !important; */
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  /* margin: 10px !important; */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #2d2d32;
}

.react-datepicker__day--selected {
  background-color: #57b894 !important;
  color: #ffffff;
}
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #57b993 !important;
  border-radius: 6px !important;
  font-size: 18px !important;
  color: white !important;
}
.react-datepicker__header {
  text-align: center;
  background-color: #ffffff !important;
  border-bottom: 0px solid #aeaeae !important;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}

.button_btn__2VQiL {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(30px + 25 * (100vw - 280px) / 2280);
  padding-top: calc(5px + 10 * (100vw - 280px) / 2280);
  padding-bottom: calc(5px + 10 * (100vw - 280px) / 2280);
  padding-left: calc(11px + 29 * (100vw - 280px) / 2280);
  padding-right: calc(11px + 29 * (100vw - 280px) / 2280);
  background-color: #57b894;
  border-radius: calc(2px + 4 * (100vw - 280px) / 2280);
  cursor: pointer;
  border: none;
  box-shadow: none;
}
.button_btn__2VQiL:hover {
  background-color: #57b894;
}
.button_btn__2VQiL .button_img__3WBW- {
  margin-left: calc(6px + 13 * (100vw - 280px) / 2280);
  width: calc(9px + 15 * (100vw - 280px) / 2280);
  height: calc(8px + 12 * (100vw - 280px) / 2280);
}
.button_btn__2VQiL .button_img1__1wKd_ {
  margin-right: calc(6px + 13 * (100vw - 280px) / 2280);
  width: calc(9px + 15 * (100vw - 280px) / 2280);
  height: calc(8px + 12 * (100vw - 280px) / 2280);
}
.button_btn__2VQiL .button_btnTitle__U6Una {
  color: #fff;
  font-weight: 400;
  font-size: calc(10px + 15 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
}
.modal_modalWrapper__2y4hd {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 250000;
  padding: 20px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.modal_modalWrapper__2y4hd .modal_modalContentWrapper__2wjT4 {
  position: relative;
  overflow-y: auto;
  max-width: 1000px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 12.17px;
}
.modal_modalWrapper__2y4hd .modal_modalContentWrapper__2wjT4::-webkit-scrollbar:vertical {
  display: none;
}
.modal_modalWrapper__2y4hd .modal_modalContentWrapper__2wjT4 .modal_header__2n6Nk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.2px solid #e2e2ea;
  padding-top: calc(12px + 18 * (100vw - 280px) / 2280);
  padding-bottom: calc(12px + 18 * (100vw - 280px) / 2280);
  padding-left: calc(18px + 62 * (100vw - 280px) / 2280);
  padding-right: calc(18px + 62 * (100vw - 280px) / 2280);
}
.modal_modalWrapper__2y4hd .modal_modalContentWrapper__2wjT4 .modal_header__2n6Nk p {
  font-style: normal;
  font-weight: 700;
  color: #2d2d32;
  font-weight: 700;
  font-size: calc(14px + 23 * (100vw - 280px) / 2280);
  line-height: calc(40px + 22 * (100vw - 280px) / 2280);
}
.modal_modalWrapper__2y4hd .modal_modalContentWrapper__2wjT4 .modal_header__2n6Nk img {
  cursor: pointer;
  height: calc(10px + 19 * (100vw - 280px) / 2280);
  width: calc(10px + 19 * (100vw - 280px) / 2280);
}
.modal_modalWrapper__2y4hd .modal_modalContentWrapper__2wjT4 .modal_body__3H1li {
  padding-top: calc(12px + 77 * (100vw - 280px) / 2280);
  padding-bottom: calc(12px + 55 * (100vw - 280px) / 2280);
  padding-right: calc(18px + 47 * (100vw - 280px) / 2280);
  padding-left: calc(18px + 43 * (100vw - 280px) / 2280);
}
.modal_modalWrapper__2y4hd
  .modal_modalContentWrapper__2wjT4
  .modal_body__3H1li
  .modal_btnClass__1hOHp {
  display: flex;
  justify-content: flex-end;
}
.delete-modal_emailPopupContentDiv__LvdXb .delete-modal_headerDiv__1SJ_R {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delete-modal_emailPopupContentDiv__LvdXb .delete-modal_headerDiv__1SJ_R img {
  height: calc(35px + 95 * (100vw - 280px) / 2280);
  width: calc(35px + 95 * (100vw - 280px) / 2280);
}
.delete-modal_emailPopupContentDiv__LvdXb .delete-modal_headerDiv__1SJ_R h1 {
  font-weight: 700;
  font-size: calc(14px + 23 * (100vw - 280px) / 2280);
  color: #2d2d32;
  margin: 25px 0px;
  text-align: center;
}
.delete-modal_emailPopupContentDiv__LvdXb .delete-modal_headerDiv__1SJ_R p {
  font-weight: 400;
  font-size: calc(10px + 15 * (100vw - 280px) / 2280);
  text-align: center;
  color: #2d2d32;
}
.delete-modal_emailPopupContentDiv__LvdXb .delete-modal_flex__3Uoed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding: 0px 18px;
}
.delete-modal_emailPopupContentDiv__LvdXb .delete-modal_flex__3Uoed .delete-modal_btn1__1RZy3 {
  border: 1px solid #57b894;
  background-color: #fff;
  width: 100%;
  max-width: calc(120px + 130 * (100vw - 280px) / 2280);
}
.delete-modal_emailPopupContentDiv__LvdXb .delete-modal_flex__3Uoed .delete-modal_btn1__1RZy3 span {
  color: #57b894 !important;
}
.delete-modal_emailPopupContentDiv__LvdXb
  .delete-modal_flex__3Uoed
  .delete-modal_btn1__1RZy3:hover {
  border: 1px solid #57b894;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.delete-modal_emailPopupContentDiv__LvdXb .delete-modal_flex__3Uoed .delete-modal_button__18Krq {
  margin-left: 30px;
  width: 100%;
  max-width: calc(120px + 130 * (100vw - 280px) / 2280);
}
.delete-modal_wrapperModal__2BDWI {
  max-width: 991px !important;
  padding-top: calc(20px + 106 * (100vw - 280px) / 2280);
  padding-bottom: calc(20px + 106 * (100vw - 280px) / 2280);
  padding-left: calc(20px + 242 * (100vw - 280px) / 2280);
  padding-right: calc(20px + 242 * (100vw - 280px) / 2280);
}
@media (max-width: 1920px) {
  .delete-modal_wrapperModal__2BDWI {
    width: 808px !important;
  }
}
.employee-card_mainDiv__33g1E {
  background: #fff;
  border: 1.58613px solid #e2e2ea;
  border-radius: 11.1029px;
  display: flex;
  width: 100%;
  position: relative;
}
.employee-card_mainDiv__33g1E .employee-card_leftGrid__rmoiH {
  border-right: 1.5px dashed #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(11px + 13 * (100vw - 280px) / 2280);
  padding-right: calc(11px + 13 * (100vw - 280px) / 2280);
  padding-top: calc(13px + 16 * (100vw - 280px) / 2280);
  padding-bottom: calc(13px + 16 * (100vw - 280px) / 2280);
  width: 32%;
}
@media (max-width: 768px) {
  .employee-card_mainDiv__33g1E .employee-card_leftGrid__rmoiH {
    width: 25%;
    padding: 13px 11px;
  }
}
.employee-card_mainDiv__33g1E .employee-card_leftGrid__rmoiH img {
  height: calc(40px + 70 * (100vw - 280px) / 2280);
  width: calc(40px + 70 * (100vw - 280px) / 2280);
}
.employee-card_mainDiv__33g1E .employee-card_leftGrid__rmoiH button {
  height: 37px;
  max-width: 130px;
  width: 100%;
  margin-top: 15px;
}
.employee-card_mainDiv__33g1E .employee-card_leftGrid__rmoiH button span {
  font-weight: 500;
  font-size: calc(10px + 4 * (100vw - 280px) / 2280);
}
@media (max-width: 768px) {
  .employee-card_mainDiv__33g1E .employee-card_leftGrid__rmoiH button {
    height: 30px;
  }
}
.employee-card_mainDiv__33g1E .employee-card_rightGrid__J39Nj {
  padding-left: calc(11px + 13 * (100vw - 280px) / 2280);
  padding-right: calc(11px + 13 * (100vw - 280px) / 2280);
  padding-top: calc(13px + 16 * (100vw - 280px) / 2280);
  padding-bottom: calc(13px + 16 * (100vw - 280px) / 2280);
}
.employee-card_mainDiv__33g1E .employee-card_rightGrid__J39Nj .employee-card_innerPara__3JXqe {
  margin-top: 30px;
}
.employee-card_mainDiv__33g1E
  .employee-card_rightGrid__J39Nj
  .employee-card_innerPara__3JXqe
  .employee-card_form__Y6n1Q {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  margin: 0;
  color: #2d2d32;
}
.employee-card_mainDiv__33g1E .employee-card_rightGrid__J39Nj .employee-card_innerPara__3JXqe p {
  font-style: normal;
  font-weight: 500;
  font-size: calc(10px + 4 * (100vw - 280px) / 2280);
  color: #2d2d32;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}
.employee-card_mainDiv__33g1E
  .employee-card_rightGrid__J39Nj
  .employee-card_innerPara__3JXqe
  p
  span {
  font-weight: 400;
  margin-left: 5px;
}
.modal_modalWrapper__2NbHw {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 250000;
  padding: 20px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.modal_modalWrapper__2NbHw .modal_modalContentWrapper__2bdcR {
  position: relative;
  overflow-y: auto;
  max-width: 1000px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 12.17px;
}
.modal_modalWrapper__2NbHw .modal_modalContentWrapper__2bdcR::-webkit-scrollbar:vertical {
  display: none;
}
.modal_modalWrapper__2NbHw .modal_modalContentWrapper__2bdcR .modal_header__3pscj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.2px solid #e2e2ea;
  padding-top: calc(12px + 18 * (100vw - 280px) / 2280);
  padding-bottom: calc(12px + 18 * (100vw - 280px) / 2280);
  padding-left: calc(18px + 62 * (100vw - 280px) / 2280);
  padding-right: calc(18px + 62 * (100vw - 280px) / 2280);
}
.modal_modalWrapper__2NbHw .modal_modalContentWrapper__2bdcR .modal_header__3pscj p {
  font-style: normal;
  font-weight: 700;
  color: #2d2d32;
  font-weight: 700;
  font-size: calc(14px + 23 * (100vw - 280px) / 2280);
  line-height: calc(40px + 22 * (100vw - 280px) / 2280);
}
.modal_modalWrapper__2NbHw .modal_modalContentWrapper__2bdcR .modal_header__3pscj img {
  cursor: pointer;
  height: calc(10px + 19 * (100vw - 280px) / 2280);
  width: calc(10px + 19 * (100vw - 280px) / 2280);
}
.modal_modalWrapper__2NbHw .modal_modalContentWrapper__2bdcR .modal_body__2GOBD {
  padding-top: calc(12px + 77 * (100vw - 280px) / 2280);
  padding-bottom: calc(12px + 55 * (100vw - 280px) / 2280);
  padding-right: calc(18px + 47 * (100vw - 280px) / 2280);
  padding-left: calc(18px + 43 * (100vw - 280px) / 2280);
}
.modal_modalWrapper__2NbHw
  .modal_modalContentWrapper__2bdcR
  .modal_body__2GOBD
  .modal_btnClass__1QQD5 {
  display: flex;
  justify-content: flex-end;
}
.input_inputContainer__1Jjhx {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input_inputContainer__1Jjhx label {
  font-weight: 500;
  font-size: calc(12px + 9 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  margin-bottom: calc(5px + 7 * (100vw - 280px) / 2280);
  text-transform: capitalize;
}
.input_inputContainer__1Jjhx input {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  padding: 0px 12px 0px 20px;
  color: #2d2d32;
  height: calc(30px + 25 * (100vw - 280px) / 2280);
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
}
.input_inputContainer__1Jjhx input:focus {
  outline: none;
}
.input_inputContainer__1Jjhx input::-webkit-input-placeholder {
  color: #cacaca;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
}
.input_inputContainer__1Jjhx input::placeholder {
  color: #cacaca;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
}
.input_inputContainer__1Jjhx .input_icon__2MSgp {
  position: absolute;
  right: 2%;
  top: 37%;
  width: calc(13px + 12 * (100vw - 280px) / 2280);
  height: calc(15px + 12 * (100vw - 280px) / 2280);
  cursor: pointer;
}
.input_inputContainer__1Jjhx .input_errorMessage__39bvm {
  position: absolute;
  bottom: -21px;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
}
input[type='password']::-webkit-input-placeholder {
  position: relative;
  top: 2px;
}
input[type='password']::placeholder {
  position: relative;
  top: 2px;
}
.select_select__2cpCs {
  box-shadow: none;
  outline: none;
  border-radius: 6px;
  width: 100%;
  padding: 0px 20px;
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
  cursor: pointer;
  color: #2d2d32;
  height: calc(30px + 25 * (100vw - 280px) / 2280);
  margin-top: calc(5px + 7 * (100vw - 280px) / 2280);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../../static/media/select-arrow.724d315a.svg);
  background-position: 98% 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 15px;
}
.select_select__2cpCs option {
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
  color: #2d2d32;
}
label {
  font-weight: 500;
  font-size: calc(12px + 9 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
}
.select_errorMessage__2fV4J {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
}
select option:checked {
  background: #57b894 -webkit-linear-gradient(bottom, #57b894 0%, #57b894 100%);
  color: #fff;
}
.select_inputClass__1WwO8 {
  border: none !important;
}
.select_inputClass__1WwO8 input {
  border: none !important;
  width: 100%;
}
.pagination_pagination__1viMd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagination_pagination__1viMd .pagination_leftFlex__2EnWh {
  display: flex;
  align-items: center;
}
.pagination_pagination__1viMd .pagination_leftFlex__2EnWh p {
  font-weight: 400;
  font-weight: 500;
  font-size: calc(10px + 4 * (100vw - 280px) / 2280);
  color: #2d2d32;
  margin-left: 14px;
}
.pagination_pagination__1viMd .pagination_leftFlex__2EnWh select {
  margin: 0px 6px;
  height: 29px;
  padding: 0px 7px;
  background-size: 10px;
  background-position: 83% 47%;
}
.pagination_pagination__1viMd .pagination_rightFlex__rsRio {
  display: flex;
  align-items: center;
}
.pagination_pagination__1viMd .pagination_rightFlex__rsRio p {
  font-weight: 400;
  font-weight: 500;
  font-size: calc(10px + 4 * (100vw - 280px) / 2280);
  color: #2d2d32;
  margin-left: 10px;
}
.pagination_pagination__1viMd .pagination_rightFlex__rsRio img {
  margin-left: 10px;
  height: 12px;
  width: 12px;
  cursor: pointer;
}
@media (max-width: 840px) {
  .pagination_pagination__1viMd .pagination_rightFlex__rsRio img {
    height: 9px;
    width: 9px;
    margin-left: 6px;
  }
}
@media (max-width: 675px) {
  .pagination_pagination__1viMd .pagination_rightFlex__rsRio .pagination_p__2dBne {
    display: none;
  }
}
.profile-upload_wraper__1iz98 {
  display: flex;
  border: 1px solid #e2e2ea;
  background-color: #fff;
  border-radius: 6.35px;
  margin-top: calc(5px + 7 * (100vw - 280px) / 2280);
  position: relative;
  cursor: pointer !important;
  padding: 0px 12px 0px 20px;
  height: calc(30px + 25 * (100vw - 280px) / 2280);
}
.profile-upload_wraper__1iz98 .profile-upload_labelTag__2sgcJ {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 0px;
  cursor: pointer;
  color: #cacaca;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
  color: #cacaca;
}
.profile-upload_wraper__1iz98 .profile-upload_labelTag__2sgcJ:focus {
  outline: none;
}
.profile-upload_wraper__1iz98 .profile-upload_labelTag__2sgcJ::-webkit-input-placeholder {
  color: #cacaca;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
  text-transform: capitalize;
}
.profile-upload_wraper__1iz98 .profile-upload_labelTag__2sgcJ::placeholder {
  color: #cacaca;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
  text-transform: capitalize;
}
.profile-upload_wraper__1iz98 .profile-upload_fileIcon__2Uw-_ {
  position: absolute;
  right: 15px;
  top: 28%;
  width: calc(15px + 7 * (100vw - 280px) / 2280);
  cursor: pointer;
}
.profile-upload_wraper__1iz98 .profile-upload_errorMessage__yF48O {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050 !important;
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
}
.search-select_searchSelect__daRzC {
  position: relative;
}
.search-select_searchSelect__daRzC .search-select_field__LcyLu img {
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.search-select_searchSelect__daRzC .search-select_searchDropdown__2ZRhS {
  margin-top: 10px;
  background: #fff;
  border: 1.2px solid #e3e3e3;
  z-index: 900;
  border-radius: 3.81414px;
  position: absolute;
  width: 100%;
}
.search-select_searchSelect__daRzC
  .search-select_searchDropdown__2ZRhS
  .search-select_innerDiv__26rze {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-select_searchSelect__daRzC
  .search-select_searchDropdown__2ZRhS
  .search-select_innerDiv__26rze
  p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  margin-left: 20px;
  padding: 10px;
  letter-spacing: 0.147355px;
  color: #171725;
  text-transform: capitalize;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  font-size: calc(12px + 9 * (100vw - 280px) / 2280);
}
.search-select_searchSelect__daRzC
  .search-select_searchDropdown__2ZRhS
  .search-select_innerDiv__26rze
  .search-select_icons__2k0Dt {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.select_select__1VnIm {
  box-shadow: none;
  outline: none;
  border-radius: 6px;
  width: 100%;
  padding: 0px 20px;
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
  cursor: pointer;
  color: #2d2d32;
  height: calc(30px + 25 * (100vw - 280px) / 2280);
  margin-top: calc(5px + 7 * (100vw - 280px) / 2280);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../../static/media/select-arrow.724d315a.svg);
  background-position: 98% 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 15px;
}
.select_select__1VnIm option {
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(10px + 19 * (100vw - 280px) / 2280);
  color: #2d2d32;
  padding: 15px;
  margin: 20px;
  text-indent: 20px;
  line-height: 30px;
  height: 30px;
}
label {
  font-weight: 500;
  font-size: calc(12px + 9 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
}
.select_errorMessage__2OCZ0 {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
}
select option:checked {
  background: #57b894 -webkit-linear-gradient(bottom, #57b894 0%, #57b894 100%);
  color: #fff;
}
.select_inputClass__3xCuG {
  border: none !important;
}
.select_inputClass__3xCuG input {
  border: none !important;
  width: 100%;
}
.skill-level_label__2EDJh {
  font-weight: 400;
  font-size: calc(10px + 15 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
}
.skill-level_skillLevel__2dQ8- {
  margin-top: 20px;
}
.skill-level_skillLevel__2dQ8- .skill-level_innerDiv__1suOy {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.skill-level_skillLevel__2dQ8- .skill-level_innerDiv__1suOy .skill-level_borderDiv__2O6Ye {
  cursor: pointer;
  border: 1px solid #57b894;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 5px;
}
.skill-level_skillLevel__2dQ8- .skill-level_innerDiv__1suOy .skill-level_borderDiv__2O6Ye p {
  color: #57b894;
  font-weight: 500;
  font-size: calc(10px + 4 * (100vw - 280px) / 2280);
}
.skill-level_errorMessage__17sOe {
  display: block;
  margin-left: 5px;
  color: #ff5050;
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
}
.skill-level_activeBorder__3VKlj {
  background-color: #57b894;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 3px;
}
.skill-level_activeBorder__3VKlj p {
  color: #fff !important;
  font-weight: 500;
  font-size: calc(10px + 4 * (100vw - 280px) / 2280);
}
.stepbar_wrapper__2ELlu {
  position: relative;
}
.stepbar_wrapper__2ELlu::before {
  position: absolute;
  content: '';
  height: 2px;
  background: #e8e8e8;
  left: 0;
  right: 0;
  top: 16px;
  z-index: 1;
}
.stepbar_wrapper__2ELlu .stepbar_ul__JPb-N {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO .stepbar_round__3hNj0 {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #57b894;
  border-radius: 50%;
  position: relative;
  z-index: 4;
}
.stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO .stepbar_round__3hNj0 span {
  font-size: 16px;
}
.stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO p {
  font-size: 18px;
  margin-top: 8px;
}
@media (max-width: 1390px) {
  .stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO p {
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  .stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO p {
    font-size: 10px;
  }
}
.stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO:nth-last-of-type(1)::before,
.stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO:nth-of-type(1)::before {
  position: absolute;
  content: '';
  height: 2px;
  background: #fff;
  width: 50%;
  top: 16px;
  z-index: 3;
}
.stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO:nth-last-of-type(1)::before {
  right: -1px;
}
.stepbar_wrapper__2ELlu .stepbar_ul__JPb-N .stepbar_li__3jfnO:nth-of-type(1)::before {
  left: -1px;
}
.stepbar_afterDiv__1BEdT {
  position: absolute;
  background: #57b894;
  left: 0px;
  height: 2px;
  top: 16px;
  z-index: 2;
}
.tags_tags__TS2fb {
  display: flex;
  flex-wrap: wrap;
}
.tags_tags__TS2fb .tags_tagsText__2Ey4h {
  background: #facccc;
  border-radius: 51.9079px 51.9031px 51.9031px 51.9079px;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin: 0px 5px;
}
.tags_tags__TS2fb .tags_tagsText__2Ey4h p {
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
  color: #e92424;
  text-transform: capitalize;
}

.textarea_note__2z9nm {
  display: flex;
  flex-direction: column;
  position: relative;
}
.textarea_note__2z9nm label {
  font-weight: 500;
  font-size: calc(12px + 9 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  margin-bottom: calc(5px + 7 * (100vw - 280px) / 2280);
  text-transform: capitalize;
}
.textarea_note__2z9nm textarea {
  background: #fff;
  box-shadow: none;
  outline: none;
  border-radius: 6px;
  width: 100%;
  padding: 20px;
  resize: none;
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
}
.textarea_note__2z9nm textarea::-webkit-input-placeholder {
  color: #cacaca;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
}
.textarea_note__2z9nm textarea::placeholder {
  color: #cacaca;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
}
.textarea_errorMessage__1VNtT {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
}

.input_inputContainer__ey2Oc {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input_inputContainer__ey2Oc label {
  font-weight: 500;
  font-size: calc(12px + 9 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  margin-bottom: calc(5px + 7 * (100vw - 280px) / 2280);
  text-transform: capitalize;
}
.input_inputContainer__ey2Oc input {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  padding: 0px 12px 0px 20px;
  color: #2d2d32;
  height: calc(30px + 25 * (100vw - 280px) / 2280);
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
}
.input_inputContainer__ey2Oc input:focus {
  outline: none;
}
.input_inputContainer__ey2Oc input::-webkit-input-placeholder {
  color: #cacaca;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
}
.input_inputContainer__ey2Oc input::placeholder {
  color: #cacaca;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
}
.input_inputContainer__ey2Oc .input_icon__q1_95 {
  position: absolute;
  right: 2%;
  top: 37%;
  width: calc(13px + 12 * (100vw - 280px) / 2280);
  height: calc(15px + 12 * (100vw - 280px) / 2280);
  cursor: pointer;
}
.input_inputContainer__ey2Oc .input_errorMessage__2ptCK {
  position: absolute;
  bottom: -21px;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  font-weight: 500;
  font-size: calc(10px + 3 * (100vw - 280px) / 2280);
}
input[type='password']::-webkit-input-placeholder {
  position: relative;
  top: 2px;
}
input[type='password']::placeholder {
  position: relative;
  top: 2px;
}

.time_main__1X3dQ {
  width: 100%;
}
.time_main__1X3dQ .time_inpDiv__1DCF0 {
  cursor: pointer;
  width: 100%;
  position: relative;
}
.time_main__1X3dQ .time_inpDiv__1DCF0 .time_datePicker__1zd4W {
  border-radius: 6px;
  padding: 20px;
  width: 100%;
  height: calc(30px + 25 * (100vw - 280px) / 2280);
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: calc(12px + 6 * (100vw - 280px) / 2280);
  position: relative;
}
.time_main__1X3dQ .time_inpDiv__1DCF0 .time_datePicker__1zd4W:focus {
  outline: none;
}
.time_main__1X3dQ .time_inpDiv__1DCF0 .time_datePicker__1zd4W::-webkit-input-placeholder {
  color: #cacaca;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
}
.time_main__1X3dQ .time_inpDiv__1DCF0 .time_datePicker__1zd4W::placeholder {
  color: #cacaca;
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(10px + 6 * (100vw - 280px) / 2280);
}
.time_main__1X3dQ label {
  font-weight: 500;
  font-size: calc(12px + 9 * (100vw - 280px) / 2280);
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  margin-bottom: calc(5px + 7 * (100vw - 280px) / 2280);
  text-transform: capitalize;
}
.time_icon__3_V-H {
  position: absolute;
  top: 9px;
  cursor: pointer;
  right: 2%;
}
input[type='time']::-webkit-calendar-picker-indicator {
  background: url(../../static/media/time-new.4d35ee8f.svg);
  background-size: contain;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: right;
}

/*# sourceMappingURL=main.a2252e55.chunk.css.map*/
