@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.btnClass {
  background-color: $white;
  border: 1.58382px solid $btn;
  color: red;
  margin-right: 30px;
  &:hover {
    background-color: $white;
    border: 1.58382px solid $btn;
  }
}
.className {
  color: $btn !important;
}
.topDiv {
  display: flex;
  justify-content: flex-end;
}
.p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #cacaca;
  padding-left: 15px;
  margin-bottom: 30px;
  cursor: pointer;
}
.container {
  margin-top: 14px;
  margin-bottom: 14px;
}
.columnText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #2d2d32 !important;
}
.statusText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}
.div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.attendance {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #2d2d32;
  padding-left: 50px;
  margin-bottom: 30px;
  cursor: pointer;
}
.pagination {
  background-color: white;
  border-top: 2px solid #e2e2ea;
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  left: 403px;
  padding: 20px;
  @media (max-width: $xl) {
    left: 314px;
  }
  @media (max-width: $lg) {
    left: 285px;
  }
  @media (max-width: $md) {
    left: 205px;
  }
  @media (max-width: $tab) {
    left: 0px;
  }
}
