@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.calenderMain {
  .fc-theme-standard td,
  .fc-theme-standard th {
    border: none !important;
  }
}
.description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #2d2d32;
  padding-left: 10px;
  margin: 0;
}
.descDiv {
  display: flex;
  align-items: center;
}
.mainDiv {
  justify-content: space-between;
  display: flex;
  height: 100%;
  background-color: #edf1fb;
  align-items: center;
  padding: 10px;
}
.mainDiv2 {
  background-color: #edf1fb;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.fc-timegrid-slot {
  height: 100px !important;
}
.topBtn {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #e2e2ea;
}
.gridView {
  @include gridTwo(50, 50);
  margin-bottom: 20px;

  @media (max-width: $xs) {
    @include gridTwo(10, 10);
    margin-bottom: 10px;
  }
}
.allDay {
  margin-bottom: 20px;
}
.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #2d2d32;
}
.titleDiv {
  border-bottom: 1px solid #e2e2ea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.durationView {
  display: flex;
  justify-content: space-between;
}
.title2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #171725;
  padding: 10px;
}
.description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #171725;
  padding: 10px;
}

.icon {
  margin-right: 18px;
  cursor: pointer;
}
.eventDiv {
  background: white;
  box-shadow: 1px 3px 10px #2b2b2b;
  border-radius: 11px;
  padding: 10px;
}
.leftDiv {
  display: flex;
  align-items: center;
}
.rightDiv {
  margin-left: 30px;
}
.mainParentDiv {
  display: flex;
  align-items: center;
}
.attachFile {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #2d2d32;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 2px 4px 0px 4px;
  width: fit-content;
}
.attendees {
  margin-top: 20px;
  margin-bottom: 20px;
  @media (max-width: $xs) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.file {
  margin-bottom: 15px;
  margin-top: 15px;

  @media (max-width: $xs) {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.plusView {
  display: flex;
}
.plusIcon {
  border-radius: 30px;
  height: 30px;
  width: 30px;
  background-color: #57b894;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: -10px;
  border: 1px solid white;
}
.plusText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
}
.categories {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #171725;
  padding: 10px;
  width: 100px;
}
.categorieData {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #171725;
  padding: 10px;
  flex: 1;
}
.iconView {
  display: flex;
  padding-left: 10px;
}
.fullDiv {
  border-radius: 4px;
  padding-top: 10px;
  margin: 20px;
}
.fullDiv1 {
  border: 1px solid #e2e2ea;
  border-radius: 4px;
  padding-top: 10px;
}
.fc .fc-button:focus {
  box-shadow: none !important;
}
.sectionView {
  border: 1px solid #e2e2ea;
  border-radius: 3px;
  padding-top: 10px;
}
.btnDiv {
  display: flex;
  justify-content: flex-end;
}
.cnclBtn {
  margin-right: 10px;
  background-color: white !important;
  border: 1px solid #57b894;
}
.cnclText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #57b894 !important;
}
.body {
  padding-top: 0px !important;
  padding-bottom: 15px !important;
}
.title3 {
  color: 'red';
}
.modalClass {
  max-width: 600px !important;
}
