.fc {
  padding: 20px;
}

.fc .fc-button-group > .fc-button {
  background-color: rgb(87, 185, 147);
  position: relative;
  flex: 1 1 auto;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
  background-color: rgb(87, 185, 147);
  cursor: pointer;
}
.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 3px;
  display: none;
}
