.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: 1px !important;
  border-top-left-radius: none !important;
  border-bottom-left-radius: none !important;
}
.fc .fc-button-primary {
  background-color: #ffffff;
  color: #717579;
  border-color: 1px solid #e9e9ef;
  border: none;
}
.fc-day-today {
  background-color: #ffffff !important;
}
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  border: none;
  color: #ffffff;
  background-color: #57b894;
}

tr:nth-child(even) {
  background-color: #ffffff;
  border-bottom: 1px solid #717579;
}
.fc table {
  table-layout: auto;
}
.fc-timegrid-event .fc-event-main {
  padding: 0px;
}
.fc .fc-timegrid-slot-minor {
  border-top-style: none;
}
.fc .fc-timegrid-slot {
  height: 50px;
}
tr:nth-child(even) {
  border: 1px dotted #696974;
}
td,
th {
  border: none;
}
.fc-theme-standard td,
.fc-theme-standard th {
}
.fc-theme-standard .fc-scrollgrid {
  border: none;
}
.fc-v-event {
  border: none;
}
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none;
}
.fc .fc-button-primary:hover {
  border-color: none !important;
  background-color: #57b894 !important;
  color: #fff !important;
}
.fc-theme-standard .fc-list-day-cushion {
  background-color: #57b894 !important;
}

.fc-toolbar-chunk {
  display: flex;
}
.fc-icon-chevron-right:before {
  content: url('../../assets/right-forward.svg');
  background-repeat: no-repeat;
}
.fc-icon-chevron-left:before {
  content: url('../../assets/left-forward.svg');
  background-repeat: no-repeat;
}
.fc .fc-button .fc-icon {
  vertical-align: middle !important;
  font-size: none !important;
}
.fc .fc-button-primary {
  background-color: transparent;
}
