@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.mainDiv {
  background: #ffffff;
  border: 1px solid #e2e2ea;
  border-radius: 11px;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 410px;
  @media (max-width: $xxs) {
    max-width: 100%;
  }

  .leftGrid {
    border-right: 1px dashed #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    padding-left: calc(11px + (24 - 11) * (100vw - 280px) / (2560 - 280));
    padding-right: calc(11px + (24 - 11) * (100vw - 280px) / (2560 - 280));
    padding-top: calc(13px + (29 - 13) * (100vw - 280px) / (2560 - 280));
    padding-bottom: calc(13px + (29 - 13) * (100vw - 280px) / (2560 - 280));

    img {
      height: calc(70px + (110 - 70) * (100vw - 280px) / (2560 - 280));
      width: calc(70px + (110 - 70) * (100vw - 280px) / (2560 - 280));
      border-radius: 50%;
    }

    button {
      height: 37px;
      max-width: 160px;
      width: 100%;
      margin-top: 15px;
      padding-top: calc(5px + (15 - 5) * (100vw - 280px) / (2560 - 280));
      padding-bottom: calc(5px + (15 - 5) * (100vw - 280px) / (2560 - 280));
      padding-left: calc(5px + (10 - 5) * (100vw - 280px) / (2560 - 280));
      padding-right: calc(5px + (10 - 5) * (100vw - 280px) / (2560 - 280));

      @media (max-width: $tab) {
        height: 30px;
      }
    }
  }

  .rightGrid {
    flex: 1;
    padding-left: calc(11px + (24 - 11) * (100vw - 280px) / (2560 - 280));
    padding-right: calc(11px + (24 - 11) * (100vw - 280px) / (2560 - 280));
    padding-top: calc(13px + (29 - 13) * (100vw - 280px) / (2560 - 280));
    padding-bottom: calc(13px + (29 - 13) * (100vw - 280px) / (2560 - 280));

    .ellipse {
      h1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 128px;
        @include font32;
        position: relative;
        cursor: pointer;
        color: #171725;
        font-weight: 600;

        &:hover {
          & div {
            display: block;
          }
        }
        .tooltip {
          background: #ffffff;
          position: absolute;
          border: 1px solid #e2e2ea;
          top: 10px;
          right: 0px;
          border-radius: 2px;
          padding: 2px 4px;
          width: fit-content;
          display: none;
          p {
            font-weight: 400;
            font-size: 9px;
            color: #171725;
          }
        }
        @media (max-width: 1480px) {
          width: 113px;
        }
        @media (max-width: 1230px) {
          width: 101px;
        }
      }
    }

    h6 {
      font-weight: 400;
      @include font18;
      color: #696974;
      word-break: break-all;
    }

    .innerPara {
      margin-top: 20px;

      p {
        font-style: normal;
        @include font16;
        color: #2d2d32;
        margin-top: 5px;

        span {
          font-weight: 400;
          margin-left: 5px;
          word-break: break-all;
        }
      }
    }
  }
}
