@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.container {
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .headContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    padding-right: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    padding-top: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    padding-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    border-bottom: 1px solid #e2e2ea;
    .mainDiv {
      max-width: 200px;
      width: 100%;
      .backClass {
        margin-top: 0px !important;
      }
    }
    .flexInner {
      display: flex;
      align-items: center;
      img {
        cursor: pointer;
        margin-left: 10px;
        height: calc(25px + (40 - 25) * (100vw - 280px) / (2560 - 280));
      }
    }
  }
  .bodyDiv {
    padding-left: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    padding-right: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    padding-top: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    padding-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    .container {
      overflow-y: auto;
      background: #ffffff;
      border: 1px solid #e2e2ea;
      padding-left: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
      padding-right: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
      padding-top: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
      padding-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    }
    .grid {
      width: 100%;
      display: flex;
      justify-content: center;
      @media (max-width: $tab) {
        flex-direction: column;
      }
      .mainCard {
        max-width: 49%;
        width: 100%;
        @media (max-width: $tab) {
          max-width: 100%;
        }
      }

      .heading {
        @include font24;
        margin-bottom: 5px;
        @media (max-width: $tab) {
          margin-top: 5px;
        }
      }
      .arrowLong {
        margin: 0px 10px;
        width: calc(25px + (40 - 25) * (100vw - 280px) / (2560 - 280));
        @media (max-width: $tab) {
          display: none;
        }
      }
    }
  }
  .btnDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
    padding-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  }
}
