@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.loginMain {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('https://raw.githubusercontent.com/sbutt3716/sprintx-logos/master/public/images/loginBG.png');
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  @media (max-width: $md) {
    display: none;
  }
}

.loginOverlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.loginCardParent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginCard {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 8px;
  color: white;
  margin: 0;
  box-shadow: 0 1px 5px #50505076;
}

.loginContent {
  display: flex;
  flex-direction: column;
  padding: 32px 112px;
}

.loginInput {
  border: 0;
  border-bottom: 1px solid gray;
  background-color: transparent;
  padding-bottom: 3px;
  font-size: 13px;
  width: 100%;
  color: #dcdcdc;
  &:focus {
    outline: 0;
  }
}

.loginInput:-webkit-autofill,
.loginInput:-webkit-autofill:hover,
.loginInput:-webkit-autofill:focus,
.loginInput:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $white;
}

.loginForm {
  margin-top: 32px;
}

.loginLabel {
  color: #dcdcdc;
  font-size: 13px;
}
.img {
  position: absolute;
  top: 20px;
  right: 2px;
  height: 15px;
}
.loginFPassContainer {
  display: flex;
  justify-content: flex-end;
}

.loginForgetPass {
  margin-top: 4px;
  font-size: 12px;
  color: #dcdcdc;
}

.loginSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff12;
  border-radius: 2px;
  border: 0;
  width: 100%;
  margin-top: 33px;
  height: 40px;
  margin-bottom: 12px;
  padding: 8px 80px;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: #ffffff25;
  }

  .btnLoader {
    margin: 0 !important;
  }
}

.bg {
  display: none;
  @media (max-width: $md) {
    display: block;
  }
  background-color: $light-gray;
  width: 100%;
  height: 100vh;
  padding: 78px 100px;
  @media (max-width: $xxs) {
    padding: 78px 15px;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h4 {
    margin-top: 63px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #6e6d6d;
  }

  .loginDiv {
    margin-top: 37px;
    .secondDiv {
      margin-top: 20px;
      p {
        font-size: 12px;
        line-height: 14px;
        color: #8b8b8b;
        text-align: end;
        margin-top: 7px;
      }
    }
  }
  .btn {
    min-width: 210px;
    margin-top: 90px;
  }
}
