@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 15px;
  border: 0.5px solid lightgray;
  border-radius: 8px;
}

.taxCalculationTable {
  height: calc(100vh - 214px);
  @media (max-width: $md) {
    height: calc(100vh - 182px);
  }
}

.addTaxBtnDiv {
  @media (max-width: $md) {
    display: none;
  }
}

.mobileAddTaxBtnDiv {
  display: none;
  @media (max-width: $md) {
    display: block;
  }
}

// Modal
.modalWrapper {
  max-width: 950px !important;
  padding: 0px !important;
  position: relative;
  @media (max-width: $xs) {
    height: 90vh;
  }
  .modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .img {
      margin-right: 20px;
      margin-top: -25px;
    }
  }

  .add {
    // @include gridTwo(8, 80);
    padding: 20px 50px;
    .twoGrid {
      margin-top: 20px;
      @include gridTwo(8, 15);
    }
    .fiveGrid {
      @include gridFive();
      grid-gap: 10px;
      margin-top: 20px;
    }
    @media (max-width: $md) {
      padding: 20px;
    }
    .label {
      font-size: 11px;
      color: $header;

      text-transform: capitalize;
    }

    .radio {
      display: flex;
      align-items: center;
      margin-top: 7px;
      .sec {
        margin-left: 50px;
      }
    }
  }
  .webBtnDiv {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    @media (max-width: $md) {
      display: none;
    }
    .btn {
      margin: 40px 0px;
      width: max-content;
    }
  }
  .mobileBtnDiv {
    display: none;
    margin: 20px;
    @media (max-width: $md) {
      display: flex;
      justify-content: flex-end;
    }
    .mobileBtn {
      position: relative;
      left: 0;
      bottom: 0;
    }
  }
}

.loaderDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: #fafafa;
  z-index: 200;
  .loadingStyle {
    width: 40px;
    height: 40px;
    border-width: 3px;
    border-color: #57b993;
    border-top-color: transparent;
  }
}
