@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  p {
    padding-left: calc(18px + (30 - 18) * (100vw - 280px) / (2560 - 280));
    @include font24;
    padding-left: calc(18px + (30 - 18) * (100vw - 280px) / (2560 - 280));
    font-weight: 500;
    color: #2d2d32;
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkMark {
  position: absolute;
  left: 0;
  height: 17px;
  width: 17px;
  border: 1px solid #e2e2ea;
  border-radius: 1.44px;
}

/* On mouse-over, add a grey background color */

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkMark {
  background-color: #57b894;
  border: 1px solid #57b894;
}

/* Create the checkMark/indicator (hidden when not checked) */
.checkMark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkMark when checked */
.container input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkMark/indicator */
.container .checkMark:after {
  width: 4px;
  height: 10px;
  top: 2px;
  left: 1px;
  border: solid #ffffff;
  border-width: 0 1.3px 1.3px 0;
  transform: translate(70%, -13%) rotate(45deg);
}
