@import '../../styles/_breakpoints.scss';
@import '../../styles/_colors.scss';

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15px;
  label {
    font-size: 14px;
    color: #6e6d6d;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 16px;
    text-transform: capitalize;
  }
  .field {
    border: 1px solid #d9d9d9;
    color: #6e6d6d;
    border-radius: 3px;
    padding: 10px;
  }
}

.errorMessage {
  color: #ff5050;
  font-size: 12px;
  position: absolute;
  bottom: -16px;
}

.select {
  color: $primary;
  border-radius: 3px;
  padding: 10px 8px;
  width: 100%;
  cursor: pointer;
  // text-transform: capitalize;
  height: 45px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  option {
    font-size: 16px;
    color: $header;
    // text-transform: capitalize;
  }
  &::placeholder {
    color: #d6d9d9;
    // text-transform: capitalize;
  }
  &:focus {
    outline: none;
  }
}

.img {
  right: 9px;
  top: 17px;
  height: 10px;
  cursor: pointer;
  width: 11px;
  position: absolute;
  pointer-events: none;
}
