@use 'styles/_colors.scss' as c;
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.label {
  @include font24;
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
}

.skillLevel {
  position: relative;
  margin-top: 15px;
  .innerDiv {
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .borderDiv {
      cursor: pointer;
      border: 1px solid c.$btn;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      margin-top: 5px;

      p {
        color: c.$btn;
        @include font16;
        text-transform: capitalize;
      }
    }
  }
}

.errorMessage {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  @include font14;
}

.activeBorder {
  background-color: c.$btn;
  padding: 10px;
  border: 1px solid c.$btn;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 5px;
  p {
    color: c.$white !important;
    @include font16;
    text-transform: capitalize;
  }
}
