@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.cardContainer {
  margin: 0px 14px 12px 16.09px;
  background-color: #fff;
  height: calc(100vh - 150px);
  padding: 30px 0;
  @media (max-width: $md) {
    padding: 20px 0;
    margin: 0px 4px 2px 6.09px;
  }
}

.headContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2ea;
  padding-bottom: 18.45px;
  padding-left: 52px;
  padding-right: 52px;
  p {
    cursor: pointer;
    margin-right: 39px;
    line-height: 40px;
    font-weight: 500;
    font-size: 27px;
    color: #cacaca;
    display: flex;
    align-items: center;
    img {
      width: 22.29px;
      height: 26px;
      margin-left: 6.7px;
    }
  }
  .active {
    font-weight: 600;
    font-size: 27px;
    color: #2d2d32;
  }
  @media (max-width: $md) {
    padding-bottom: 12.45px;
    padding-left: 32px;
    padding-right: 32px;
    p {
      margin-right: 20px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #cacaca;
      display: flex;
      align-items: center;
      img {
        width: 15.29px;
        height: 20px;
        margin-left: 3.7px;
      }
    }
    .active {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #2d2d32;
    }
  }
  @media (max-width: $xxs) {
    p {
      margin-right: 10px;
      font-weight: 500;
      font-size: 9px;
      line-height: 14px;
      color: #cacaca;
      display: flex;
      align-items: center;
      img {
        width: 15.29px;
        height: 20px;
        margin-left: 3.7px;
      }
    }
    .active {
      font-weight: 600;
      font-size: 9px;
      line-height: 14px;
      color: #2d2d32;
    }
  }
}

.gridView {
  @include gridTwo(22, 22);
}

.modelContainer {
  padding-top: 35px !important;
}

.textAreaGrid {
  grid-column: 1 / -1;
}

.fileUpload {
  margin-top: 0 !important;
}

.classNameLabel {
  display: inline-block;
  margin-bottom: 12px;
}
