@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.cardContainer {
  padding: 0px;
}

.headContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-right: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-top: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  border-bottom: 1px solid #e2e2ea;
  max-height: 66px;
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 90;
  p {
    font-weight: 500;
    @include font24;
    color: #cacaca;
    margin-right: calc(10px + (35 - 10) * (100vw - 280px) / (2560 - 280));
  }
  .active {
    font-weight: 600;
    color: #2d2d32;
  }
  .btnClass {
    padding-top: calc(5px + (10 - 5) * (100vw - 280px) / (2560 - 280));
    padding-bottom: calc(5px + (10 - 5) * (100vw - 280px) / (2560 - 280));
    padding-left: calc(11px + (30 - 11) * (100vw - 280px) / (2560 - 280));
    padding-right: calc(11px + (30 - 11) * (100vw - 280px) / (2560 - 280));
  }
}
.footerDiv {
  padding-left: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-right: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-top: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
}
.grid {
  @include gridTwo(20, 20);
  margin-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
}
