@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.main {
  width: 100%;

  & .inpDiv {
    cursor: pointer;
    width: 100%;
    position: relative;
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  background: url(../../assets/time-new.svg);
  background-size: contain;
  appearance: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: right;
}
