@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.emailPopupContentDiv {
  .headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: calc(35px + (130 - 35) * (100vw - 280px) / (2560 - 280));
      width: calc(35px + (130 - 35) * (100vw - 280px) / (2560 - 280));
    }

    h1 {
      @include font40;
      color: #2d2d32;
      margin: 25px 0px;
      text-align: center;
    }

    p {
      @include font29;
      text-align: center;
      color: #2d2d32;
    }
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 0px 18px;

    .btn1 {
      border: 1px solid $btn;
      background-color: white;
      width: 100%;
      max-width: calc(120px + (250 - 120) * (100vw - 280px) / (2560 - 280));

      span {
        color: #57b894 !important;
      }
      &:hover {
        border: 1px solid $btn;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .button {
      margin-left: 30px;
      width: 100%;
      max-width: calc(120px + (250 - 120) * (100vw - 280px) / (2560 - 280));
    }
  }
}

.wrapperModal {
  max-width: 991px !important;
  padding-top: calc(20px + (126 - 20) * (100vw - 280px) / (2560 - 280));
  padding-bottom: calc(20px + (126 - 20) * (100vw - 280px) / (2560 - 280));
  padding-left: calc(20px + (262 - 20) * (100vw - 280px) / (2560 - 280));
  padding-right: calc(20px + (262 - 20) * (100vw - 280px) / (2560 - 280));
  @media (max-width: $xl) {
    width: 808px !important;
  }
}
