.container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 1.19506px solid #e2e2ea;
  border-radius: 7.93819px;
  cursor: pointer;
}

.body {
  padding: 15px;
  background: #ffffff;
  border: 1.19506px solid #e2e2ea;
  //   border-radius: 7.93819px;
  cursor: pointer;
}
