@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.searchSelect {
  position: relative;

  .field {
    img {
      right: 1%;
      transform: rotate(90deg);
    }
  }

  .searchDropdown {
    margin-top: 10px;
    background: #ffffff;
    border: 1px solid #e2e2ea;
    z-index: 900;
    border-radius: 3.81414px;
    position: absolute;
    width: 100%;

    .innerDiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 30px;

      &:hover {
        background-color: $btn;
        color: white;
        p {
          color: #ffffff;
          text-transform: capitalize;
        }
      }

      p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.147355px;
        color: #171725;
        text-transform: capitalize;
        width: 100%;
        cursor: pointer;
        @include font24;
      }

      .icons {
        display: flex;
        align-items: center;
        img {
          margin-left: 7px;
        }
      }
    }
  }
}
.noDatas {
  padding: 10px;
  p {
    text-align: center;
    @include font18;
  }
}
