.main .react-datepicker__day--keyboard-selected {
  border-radius: 5px !important;
}

.react-datepicker__day--outside-month {
  color: #afafaf !important;
  pointer-events: none !important;
}

.react-datepicker-popper {
  inset: 18px auto auto 35px !important;
  padding: 10px !important;
  z-index: 1000 !important;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  display: none !important;
}

.react-datepicker {
  background: #ffffff !important;
  border: 1px solid #e2e2ea !important;
  border-radius: 8px !important;
  z-index: 1000 !important;
  margin-top: -20px !important;
  left: -10px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  margin: 10px !important;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #2d2d32;
}

@media screen and (max-width: 768px) {
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    margin: 4px !important;
  }
}

.react-datepicker__day-name {
  font-weight: 500 !important;
  font-size: 12px !important;
  color: #afafaf !important;
}

.react-datepicker__day,
.react-datepicker__day--031,
.react-datepicker__day--outside-month {
  font-weight: 500 !important;
  font-size: 12px !important;
}

.react-datepicker__day {
  color: #2d2d32 !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #57b993 !important;
  border-radius: 6px !important;
  font-size: 18px !important;
  color: white !important;
}

.react-datepicker__input-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px !important;
}
.react-datepicker__input-time-container .react-datepicker-time__caption {
  font-weight: 600;
  font-size: 14px;
  color: #2d2d32;
}
/* placeholder text style */
/* input[type='time']::-webkit-datetime-edit-text,
input[type='time']::-webkit-datetime-edit-month-field,
input[type='time']::-webkit-datetime-edit-day-field,
input[type='time']::-webkit-datetime-edit-year-field {
  color: rgb(207, 23, 23);
}
/*  */
/* regular text style */
/* input[type='time'].date-input--has-value::-webkit-datetime-edit-text,
input[type='time'].date-input--has-value::-webkit-datetime-edit-month-field,
input[type='time'].date-input--has-value::-webkit-datetime-edit-day-field,
input[type='time'].date-input--has-value::-webkit-datetime-edit-year-field {
  color: #f8f9fa;
} */
