@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.main {
  width: 100%;

  .label {
    @include font24;
    font-family: 'Poppins';
    font-style: normal;
    color: #2d2d32;
    text-transform: capitalize;
  }

  .borderClass {
    border: 1px solid #ff5050 !important;
    background: #ffffff;
    border-radius: 6px;
    width: 100%;
    padding-left: 20px;
    @include font20;
    color: #2d2d32;
    box-sizing: border-box;
    margin-top: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
    height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
  }

  .inpDiv {
    background: #ffffff;
    border-radius: 6px;
    width: 100%;
    padding-left: 20px;
    border: 1.2px solid rgb(226, 226, 234);
    @include font20;
    box-sizing: border-box;
    color: #2d2d32;
    margin-top: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
    height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
  }
}

.icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  top: 40%;
  pointer-events: none;
  img {
    height: calc(18px + (25 - 18) * (100vw - 280px) / (2560 - 280));
    width: calc(18px + (25 - 18) * (100vw - 280px) / (2560 - 280));
  }
}

.errorMessage {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  @include font14;
}

.iconsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  button {
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 8px;
    img {
      height: 30px;
      width: 30px;
    }
  }

  p {
    font-family: 'Poppins';
    font-weight: 500;
    color: #57b894;
    @include font16;
  }
}

.inputField {
  border: 1.08947px solid #e2e2ea;
  border-radius: 5.44737px;
  padding: 10px;
}
.switch {
  display: flex;
  align-items: center;
}
.switchDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.allday {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2d2d32;
}
