@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.tableWrapper {
  max-height: 775px;
  flex: 1;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #e2e2ea;
  border-radius: 6px;
  padding-left: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-right: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-bottom: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  padding-top: calc(12px + (25 - 12) * (100vw - 280px) / (2560 - 280));
  text-transform: capitalize;
  
   &:hover{
      overflow-x: auto;
  overflow-y: auto;
   }

  &::-webkit-scrollbar:vertical {
    display: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 10px;

    .thead {
      background: #fafafa;
      border: 1px solid #e2e2ea;
      border-radius: 8px;
      z-index: 20;

      .heading {
        padding: 15px 10px;

        .headingTitle {
          font-weight: 600 !important;
          @include font24;
          color: #2d2d32;
        }

        .sortIcon {
          width: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

.tr {
  width: 100%;
  border-bottom: 1px solid #f2f4f3;

  &:last-child {
    border-bottom: none;
  }
}

.td {
  @include font18;
  font-weight: 400;
  text-transform: capitalize;
}

.pencilIcon {
  cursor: pointer;
  height: calc(20px + (37 - 20) * (100vw - 280px) / (2560 - 280));
  width: calc(25px + (44 - 25) * (100vw - 280px) / (2560 - 280));
  margin: 0px 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
