@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.main {
  margin-bottom: calc(12px + (44 - 12) * (100vw - 280px) / (2560 - 280));

  .headerFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: calc(12px + (30 - 12) * (100vw - 280px) / (2560 - 280));

    .employeeTitle {
      font-weight: 500;
      @include font24;
      color: #2d2d32;

      span {
        padding: 2px 5px;
        border: 1px solid #2d2d32;
        border-radius: 15px;
        margin-left: 5px;
      }
    }

    .innerFlex {
      display: flex;
      align-items: center;

      button {
        max-width: 240px;
        padding: 15px;
      }

      .img {
        margin-right: calc(6px + (19 - 6) * (100vw - 280px) / (2560 - 280));
        height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
      }
    }
  }

  .cardSection {
    @include gridFive(15, 15);
    height: 100%;
    margin-top: calc(12px + (44 - 12) * (100vw - 280px) / (2560 - 280));
    @media (max-width: $xl) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 1500px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.absoluteClass {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 190;
}

.position {
  position: fixed;
  bottom: 0px;
  left: 418px;
  right: 7px;
  background-color: #fafafa;
  padding: 10px 0px;
  @media (max-width: $xl) {
    left: 315px;
  }
  @media (max-width: $lg) {
    left: 300px;
  }
  @media (max-width: $md) {
    left: 220px;
  }
  @media (max-width: $tab) {
    left: 0px;
    right: 0px;
  }
}

.loaderDiv {
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: #fafafa;
  z-index: 200;

  .loadingStyle {
    width: 40px;
    height: 40px;
    border-width: 3px;
    border-color: #57b993;
    border-top-color: transparent;
  }
}
.card1 {
  transition: all 0.5s;
  position: relative;

  .flex {
    display: flex;
    align-items: flex-end;

    @media (max-width: $lg) {
      flex-direction: column;
    }

    .grid1 {
      @include gridThree(10, 10);

      @media (max-width: $lg) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: $sm) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .btn {
      max-width: 130px;
      width: 100%;
      display: none;

      @media (max-width: $sm) {
        display: block;
      }

      .label {
        font-weight: 500;
        font-size: 10px;
        color: #cacaca;
      }

      button {
        margin-top: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
        max-width: 130px;
      }
    }

    .btn1 {
      margin-left: 10px;
      max-width: 130px;
      width: 100%;

      @media (max-width: $sm) {
        display: none;
      }

      .label {
        font-weight: 500;
        font-size: 10px;
        color: #cacaca;
      }

      button {
        margin-top: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
        max-width: 130px;
      }
    }
  }
}
.employeeFilterCard {
  padding: 0px;
}
