@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.mainDiv {
  position: fixed;
  background-color: transparent;
  inset: 0;
  z-index: 10000;
}

.notificationMenuMain {
  display: flex;
  position: absolute;
  right: 8px;
  z-index: 2500;
  top: 60px;
  flex-direction: column;
  border-top: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  border-bottom: none;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0px 3px 8px #00000010;
  width: 292px;
  height: 400px;
  &:before {
    content: '';
    position: absolute;
    right: 16px;
    top: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 19px 10px;
    border-color: transparent transparent $borderColor transparent;
    z-index: 9999;
  }
}

.notificationMenuTitle {
  font-size: 14px;
  font-weight: 400;
  padding: 0.5rem;
  color: $primary;
}

.notificationMenuDayContainer {
  overflow-y: auto;
}

.notificationMenuDay {
  padding: 0.3rem 0.5rem 0.3rem 0;
  border-top: 1px solid $borderColor;
}

.notificationMenuDayTitle {
  display: flex;
  font-size: 11px;
  padding-left: 0.5rem;
  color: $primary;
  margin-bottom: 0.5rem;
}

.notificationMenuPost {
  display: flex;
  cursor: pointer;
}

.profileContainer {
  display: flex;
}

.onlineIcon {
  bottom: 18px;
  position: absolute;
  left: 43px;
}

.notificationPostContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notificationPostContentHead {
  display: flex;
  justify-content: space-between;
}

.postUserName {
  font-size: 16px;
  color: $primary;
}

.postDate {
  font-size: 11px;
  color: $header;
}

.postText {
  font-size: 10px;
  color: $subtile;
}
