@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'styles/_breakpoints.scss';

html {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  list-style: none;
  outline: none;
  color: #2d2d32;
  font-family: Poppins;
  // overflow-wrap: anywhere;
}

body {
  font-family: Poppins;
  overflow-x: hidden;
  margin: 0px;
  background-color: #fafafa;
  height: 100vh;
  color: #2d2d32;
}

input[type='number'] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: none;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 100vw;
  -webkit-border-radius: 100vw;
  -moz-border-radius: 100vw;
  -ms-border-radius: 100vw;
  -o-border-radius: 100vw;
}

::-webkit-scrollbar:vertical {
  width: 5px; /* Remove scrollbar space */
  background: #e6e7e8; /* Optional: just make scrollbar invisible */
  height: 5px;
  border-radius: 8px;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #57b993 !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  color: white !important;
}

.react-datepicker__header {
  background-color: transparent !important;
  border-bottom: none !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-bottom: 16px;
}

.fc .fc-scroller-liquid-absolute {
  overflow-y: hidden !important;
  height: auto !important;
}

.react-datepicker-popper {
  transform: translate(-33px, 40px) !important;
}

.react-pdf__Page__textContent {
  display: none !important;
}
.react-pdf__Page__canvas {
  margin-left: auto !important;
  margin-right: auto !important;
}

.react-tel-input .country-list {
  left: 10px;
  top: 100%;
}
.css-1okebmr-indicatorSeparator {
  width: 0px !important;
}

.react-tel-input .flag-dropdown {
  border: 1px solid transparent !important;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-tel-input .selected-flag {
  width: 60px !important;
  padding: 0px 7px !important;
  border-right: 1px solid #e2e2ea !important;
  height: 30px !important;
}

.react-tel-input .selected-flag .flag {
  margin-left: 6px !important;
}
