@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.main {
  width: 100%;

  & .inpDiv {
    cursor: pointer;
    width: 100%;
    position: relative;

    .datePicker {
      border-radius: 6px;
      padding: 20px;
      width: 100%;
      height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
      cursor: pointer;
      border: none;
      @include font20;
      position: relative;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #cacaca;
        text-transform: capitalize;
        @include font18;
      }
    }
  }

  label {
    @include font24;
    font-family: 'Poppins';
    font-style: normal;
    color: #2d2d32;
    margin-bottom: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
    text-transform: capitalize;
  }
}

.icon {
  position: absolute;
  top: 9px;
  cursor: pointer;
  right: 2%;
}

input[type='time']::-webkit-calendar-picker-indicator {
  background: url(../../new-assets/time-new.svg);
  background-size: contain;
  appearance: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: right;
}
