@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.select {
  box-shadow: none;
  outline: none;
  border-radius: 6px;
  width: 100%;
  padding: 0px 20px;
  @include font20;
  cursor: pointer;
  color: #2d2d32;
  height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));
  margin-top: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../../new-assets/select-arrow.svg');
  background-position: 98% 50%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 15px;

  option {
    text-transform: capitalize;
    @include font20;
    color: #2d2d32;
  }
}

label {
  @include font24;
  font-family: 'Poppins';
  font-style: normal;
  color: #2d2d32;
  text-transform: capitalize;
}

.errorMessage {
  position: absolute;
  display: block;
  margin-left: 5px;
  color: #ff5050;
  @include font14;
}

select option:checked {
  background: #57b894 -webkit-linear-gradient(bottom, #57b894 0%, #57b894 100%);
  color: #ffffff;
}

.inputClass {
  border: none !important;
  input {
    border: none !important;
    width: 100%;
  }
}
