@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';


.newUserParent {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1.19506px solid #e2e2ea;
}

.btnSection {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}


  .containerClassInput {
    margin-top: 0px !important;
    padding: 10px 40px;

    @media (max-width: $md) {
      padding: 10px 10px;
    }
  }

   .btnClass {
    display: flex;
    flex: 1;
    margin-top: 10px;
    border-radius: 5px;
  }

  .btnClassCancel {
    display: flex;
    flex: 1;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #fff;
    border: 0.5px solid #57b894;
  }
  
  .btnTextClassCancel {
    color: #57b894 !important;
  }