@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_mixin.scss';

.wraper {
  display: flex;
  border: 1px solid #e2e2ea;
  background-color: #ffffff;
  border-radius: 6.35px;
  margin-top: calc(5px + (12 - 5) * (100vw - 280px) / (2560 - 280));
  position: relative;
  cursor: pointer !important;
  padding: 0px 12px 0px 20px;
  height: calc(30px + (55 - 30) * (100vw - 280px) / (2560 - 280));

  .labelTag {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 0px;
    cursor: pointer;
    color: #cacaca;
    text-transform: capitalize;
    @include font20;
    color: #cacaca;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #cacaca;
      @include font18;
      text-transform: capitalize;
    }
  }

  .fileIcon {
    position: absolute;
    right: 15px;
    top: 28%;
    width: calc(15px + (22 - 15) * (100vw - 280px) / (2560 - 280));
    cursor: pointer;
  }

  .errorMessage {
    position: absolute;
    display: block;
    margin-left: 5px;
    color: #ff5050 !important;
    @include font14;
  }
}
