@use 'styles/_colors.scss' as c;
@import 'styles/_mixin.scss';
@import 'styles/_breakpoints.scss';

.card {
  border-radius: 0%;
  border: none !important;
  height: calc(100vh - 168px) !important;
}
.customInputs {
  @include gridTwo(20, 20);
}
.iconClass {
  position: absolute;
  top: 25px !important;
  @media (max-width: $lg) {
    top: 22px !important;
  }
  @media (max-width: $md) {
    top: 20px !important;
  }
  @media (max-width: $sm) {
    top: 17px !important;
  }
  @media (max-width: $xxs) {
    top: 13px !important;
  }
}
.btnClass {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
